body {
    margin: 0px;
}

header {
    border-bottom: 10px solid #f1f1f2;
}

nav {
    background-color: #0c4ca3;
    padding: 5px;
}

ul {
    display: flex;
    justify-items: center;
    list-style: none;
    gap: 20px;
}

li {
    padding: 15px;
}

.border {
    border-right: 1px solid gray;
}

.danhmuc-lienket {
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto, Arial, Tahoma;

}

.banner-qc {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.qc {
    display: flex;
    justify-content: space-between;
}

.news {
    border-bottom: 3px solid #0f75bc;
    color: #024da1;
    font-size: 25px;
    line-height: 52px;
    padding: 5px 0 15px;
    text-transform: uppercase;
}

.news_window {
    display: flex;
    border-right: 1px solid gray;
    justify-content: center;
    margin: auto;
}

.size_anh {
    width: 1px;
    height: 1px;
}